.my-calendar {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 342px;
  max-width: 800px;
  margin-bottom: 262px;
}

.my-calendar .react-calendar__navigation {
  width: 342px;
  height: 42px;
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 32px;
  margin-top: 30px;
  margin-bottom: 18px;
}

.my-calendar .react-calendar__navigation__label span {
  cursor: pointer;
}

.my-calendar .react-calendar__viewContainer {
  border: 2px solid #E8E8E8;
  border-radius: 8px;
  font-weight: 500;
  line-height: 100%;
  text-align: center;
}

.my-calendar .react-calendar__month-view__weekdays {
  height: 43px;
  text-align: center;
}

.my-calendar .react-calendar__month-view__weekdays__weekday {
  display: flex;
  justify-content: center;
  border: 0.5px solid #E8E8E8;
  align-items: center;
  height: 100%;
  font-size: 16px;
  color: #969696;
}

.my-calendar .react-calendar__month-view__weekdays abbr {
  text-decoration: none;
}

.my-calendar .react-calendar__tile {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-width: 48px;
  height: 140px;
  border: 0.5px solid #E8E8E8;
  text-align: left;
  font-size: 21px;
  color: #969696;
}

.my-calendar .react-calendar__tile abbr {
  position: absolute;
  top: 12px;
  left: 12px;
}

.my-calendar .react-calendar__month-view__days__day--neighboringMonth {
  color: #dddddd;
}

.my-calendar .react-calendar__decade-view__years__year {
  display: flex;
  justify-content: center;
  align-items: center;
}

.my-calendar .react-calendar__year-view__months__month {
  position: relative;
}

.my-calendar .react-calendar__year-view__months__month abbr{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.my-calendar .react-calendar__tile--now {
  background-color: #fafafa;
}

.my-calendar .react-calendar__tile--now abbr {
  color: #0B3B2D;
  font-weight: bold;
}

.my-calendar .react-calendar__tile--range	 {
  background-color: #ced8d5;
  border-radius: 4px;
}

.my-calendar .react-calendar__tile--range	abbr {
  color: white;
}
